<app-header></app-header>

<div class="container">
  <br >
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" style="font-weight: bold">
          Main Menu
        </a>
        <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action">Home</a>
        <a routerLink="/acara" routerLinkActive="active" class="list-group-item list-group-item-action">Paket Barang</a>
        <a routerLink="/kurir" routerLinkActive="active" class="list-group-item list-group-item-action">Kurir</a>
        <a routerLink="/pengiriman" routerLinkActive="active" class="list-group-item list-group-item-action">Pengiriman </a>
        <a routerLink="/pengiriman" routerLinkActive="active" class="list-group-item list-group-item-action">Cabang Pengiriman </a>
        <a routerLink="/pengiriman" routerLinkActive="active" class="list-group-item list-group-item-action">Tracking </a>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>