<h4>Tambah Kurir</h4>
<div class="card">
	<div class="header">
		<a class="btn btn-primary pull-right" href="/kurir">Back</a>
	</div>
	<div class="content">
		<!-- <form> -->
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Nama Kurir</label>
			            <input type="text" class="form-control border-input" [(ngModel)]="nama_kurir">
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Telepon</label>
			            <input type="number" class="form-control border-input" [(ngModel)]="telepon">
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Alamat</label>
			            <input type="text" class="form-control border-input" [(ngModel)]="alamat"/> 
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Jenis Kurir</label>
			            <select class="form-control border-input" [(ngModel)]="jenis">
			            	<option value="BSR">Besar</option>
			            	<option value="MTR">Motor</option>
			            </select> 
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Password</label>
			            <input type="password" class="form-control border-input" [(ngModel)]="password"/> 
			        </div>
			    </div>
			</div>
		<!-- </form> -->
		<!-- <button class="btn btn-primary btn-fill" (click)="submitData()" type="submit">Submit Kurir</button> -->
	</div>
</div>
<div class="card">
	<div class="header">
	    <h4 class="title">Informasi Penempatan Kurir</h4>
	</div>
	<div class="content">
		<!-- <form> -->
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Alamat Penempatan</label>
			            <input type="text" class="form-control border-input" 
			            id="alamatPenempatan" [(ngModel)]="alamatPenempatan" (keyup)="RunAutoCompletePenempatan()">
			        </div>
			    </div>
			</div>
		<!-- </form> -->
		<button class="btn btn-danger btn-fill" (click)="submitData()" type="submit">Submit Data</button>
	</div>
</div>
<div class="alert alert-success" *ngIf="isSubmit">
    <button type="button" aria-hidden="true" class="close">×</button>
    <span><b> Success - </b> Data Berhasil disimpan</span>
</div>