<h4>Pengiriman Kurir Motor</h4>
<div class="card">
	<div class="header">
		<a class="btn btn-primary pull-right" href="/list-pengiriman-motor">Back</a>
	</div>
	<div class="content">
		<!-- <form> -->
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>ID Kurir</label>
				        <input type="text" disabled value="{{IDKurir}}" class="form-control border-input">
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Nama Kurir</label>
				        <input type="text" disabled value="{{nama_kurir}}" class="form-control border-input">
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-md-12">
			        <div class="form-group">
			            <label>Penempatan</label>
				        <input type="text" disabled value="{{alamat_penempatan}}" class="form-control border-input">
			        </div>
			    </div>
			</div>
		<!-- </form> -->
		<!-- <button class="btn btn-primary btn-fill" (click)="submitData()" type="submit">Submit Kurir</button> -->
	</div>
</div>
<div class="card">
	<div class="header">
	    <h4 class="title">List Pengiriman Kurir</h4>
	</div>
	<div class="content">
		<!-- <form> -->
			<div class="row">
			    <div class="col-md-12">
			    	<h5>Paket Yang Sedang Dikirim</h5>
			        <div class="list-group">
					  <button *ngFor="let listInit of listPengirimanInit" type="button" class="list-group-item">
					  	{{listInit.IDPaket}}
					  	-
					  	{{listInit.nama_paket}} <br>
					  	{{listInit.alamat_penerima}}
					  	<button *ngIf="listInit.status_pengiriman == 'PENDING' " class="btn btn-default">PENDING</button>
					  	<button *ngIf="listInit.status_pengiriman == 'GAGAL' " class="btn btn-danger btn-fill">GAGAL</button>
					  	<!-- button dismiss -->
					  	<button type="button" (click)="deleteList(listInit)" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </button>
					</div>
			    </div>
			    <div class="col-md-6">
			    	<h5>Paket Tersedia</h5>
			        <div class="list-group">
						<button *ngFor="let paket of paketsOP" (click)="addToList(paket)" type="button" class="list-group-item">
						  {{paket.IDPaket}} - 
						  {{paket.nama_paket}} <br>
						  {{paket.alamat_penerima}}
						</button>
					</div>
			    </div>
			    <div class="col-md-6">
			    	<h5>Paket Akan Dikirim</h5>
			        <div class="list-group">
					  <button *ngFor="let list of listPengiriman" type="button" class="list-group-item">
					  	{{list.IDPaket}}
					  	-
					  	{{getNamaPaket(list.IDPaket)}} <br>
					  	{{ getAlamatPaket(list.IDPaket) }}
					  	<!-- button dismiss -->
					  	<button type="button" (click)="removeFromList(list)" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </button>
					</div>
			    </div>
			</div>
		<!-- </form> -->
		<button class="btn btn-danger btn-fill" (click)="submitData()" type="submit">Submit Data</button>
	</div>
</div>
<div class="alert alert-success" *ngIf="isSubmit">
    <button type="button" aria-hidden="true" class="close">×</button>
    <span><b> Success - </b> Data Berhasil disimpan</span>
</div>