<h4>Pengiriman Kurir Besar</h4>
<div class="card">
  <div class="header">
    <a href="list-pengiriman-besar/add" class="btn btn-success pull-right" >Add Pengiriman</a> 
    <h4 class="title">Kurir</h4>
    <p class="category">List Pengiriman Kurir Besar</p>
  </div>
<div class="content table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" width="5%">ID</th>
        <th scope="col" width="23%">Asal</th>
        <th scope="col" width="23%">Tujuan</th>
        <th scope="col" width="24%">Kurir</th>
        <th scope="col" width="10%">Terkirim</th>
        <th scope="col" width="15%">Cancle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists">
        <td>{{ list.IDListPengirimanBesar }}</td>
        <td>{{ list.IDCabangAsal }} - {{ getCabangName(list.IDCabangAsal) }}</td>
        <td>{{ list.IDCabangTujuan }} - {{ getCabangName(list.IDCabangTujuan) }}</td>
        <td>{{list.IDKurir}} - {{getKurirName(list.IDKurir)}}</td>
        <td>
        	<button *ngIf="list.isSend =='N' " class="btn btn-fill btn-danger"><i class="ti-na"></i></button>
        	<button  *ngIf="list.isSend =='Y' " class="btn btn-fill btn-success"><i class="ti-check"></i></button>
        </td>
        <td><!-- 
          <a href="list-pengiriman-besar/update/{{ list.IDListPengirimanBesar }}" class="btn btn-success btn-fill"><i class="ti-pencil"></i></a> -->
          <button (click)="doBatalList(list.IDListPengirimanBesar)" *ngIf="list.isCancel == 'N'" class="btn btn-danger btn-fill">
            <!-- <i class="ti-trash"></i> -->
            Batalkan
          </button>
          <button *ngIf="list.isCancel == 'Y'" class="btn btn-warning btn-fill">
            <!-- <i class="ti-trash"></i> -->
            Dibatalkan
          </button>
          <button *ngIf="list.isSend == 'Y'" class="btn btn-success btn-fill">
            <!-- <i class="ti-trash"></i> -->
            Terkirim
          </button>
        </td>
      </tr>
    </tbody>
</table>

</div>
</div>