<h4>Kurir</h4>
<div class="card">
  <div class="header">
    <a href="kurir/add" class="btn btn-success pull-right" >Add Kurir</a> 
    <h4 class="title">Kurir</h4>
    <p class="category">List Data Kurir</p>
  </div>
<div class="content table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" width="10%">ID</th>
        <th scope="col" width="35%">Nama kurir</th>
        <th scope="col" width="20%">Telepon</th>
        <th scope="col" width="15%">Jenis Kurir</th>
        <th scope="col" width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kurir of kurirData">
        <td>{{kurir.IDKurir}}</td>
        <td>{{ kurir.nama_kurir}}</td>
        <td>{{ kurir.telepon }}</td>
        <td>{{ kurirJenisChange(kurir.jenis) }}</td>
        <td>
          <a href="kurir/update/{{ kurir.IDKurir }}" class="btn btn-success btn-fill"><i class="ti-pencil"></i></a>
          <button (click)="doDeleteKurir(kurir.IDKurir)" class="btn btn-danger btn-fill"><i class="ti-trash"></i></button>
        </td>
      </tr>
    </tbody>
</table>

</div>
</div>