<div class="alert alert-primary" role="alert">
 
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"> <h5>Kurir</h5></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Id kurir</th>
      <th scope="col">Nama kurir</th>
      <th scope="col">No Hp</th>
      <th scope="col">Alamat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kurir of kurirData">
      <th scope="row">{{kurir.id_kurir}}</th>
      <td>{{kurir.nama_kurir}}</td>
      <td>{{kurir.nohp}}</td>
      <td>{{kurir.alamat}}</td>
      <td>
      	<div class="custom-control custom-checkbox" (click)="restoreKurir(kurir.id_kurir)" *ngIf="kurir.trash == 'Y'">
		  <input type="checkbox" class="custom-control-input" id="trash-check{{kurir.id_kurir}}" checked>
		  <label class="custom-control-label" for="trash-check{{kurir.id_kurir}}">Y</label>
		</div>
      	<div class="custom-control custom-checkbox" (click)="deleteKurir(kurir.id_kurir)" *ngIf="kurir.trash == 'N'">
		  <input type="checkbox" class="custom-control-input" id="trash-check{{kurir.id_kurir}}">
		  <label class="custom-control-label" for="trash-check{{kurir.id_kurir}}">Y</label>
		</div>
      </td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/kurir', kurir.id_kurir]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>